@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card h-100">
                <a class="card-img-top" asp-controller="Menu" asp-action="SortedMenu">
                    <img src="~/img/icons/menu.webp" class="img-fluid" alt="Special Offer 1">
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <img src="~/img/icons/special.jpg" class="img-fluid" alt="Special Offer 2">
                <div class="card-body">
                    <h5 class="card-title">Special Offers</h5>
                    <p class="card-text">Enjoy our special dish with a discount for a limited time.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card h-100">
                <img src="~/img/icons/event.webp" class="img-fluid" alt="Upcoming Event 1">
                <div class="card-body">
                    <h5 class="card-title">Upcoming Events</h5>
                    <p class="card-text">Join us for a live music performance this weekend. Immerse yourself in the enchanting world of music as our talented musicians take the stage. Whether you're planning a romantic date night or a gathering with friends, our live music event promises to create lasting memories. We look forward to sharing this magical experience with you</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="contact-info">
                <h3>Contact Information</h3>
                <address>
                    <strong>Restaurant Name</strong><br>
                    123 Main Street, City<br>
                    Country<br>
                    <abbr title="Phone">P:</abbr> (123) 456-7890
                </address>
                <address>
                    <strong>Email</strong><br>
                    <a href="mailto:info@restaurant.com">info@restaurant.com</a>
                </address>
            </div>
        </div>
    </div>
</div>
